/*-----------------------------------------------------------------------------------

	Author: Kristin Vaughn
	Author URI: www.pivotcode.io
	Date: June 15, 2019

-----------------------------------------------------------------------------------*/

/* -----------------------------------------

#general

-----------------------------------------*/

body {color: #8f8b8b; font-family: 'Kayak', sans-serif;}

/* -----------------------------------------

#typography

-----------------------------------------*/
@font-face {
    font-family: 'Kayak';
    src: url('../fonts/kayak/KayakSans.woff') format('woff'),
         url('../fonts/kayak/KayakSans.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Kayak';
    src: url('../fonts/kayak/KayakSans-RegularItalic.woff') format('woff'),
         url('../fonts/kayak/KayakSans-RegularItalic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Kayak';
    src: url('../fonts/kayak/KayakSans-Light.woff') format('woff'),
         url('../fonts/kayak/KayakSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Kayak';
    src: url('../fonts/kayak/KayakSans-LightItalic.woff') format('woff'),
         url('../fonts/kayak/KayakSans-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Kayak';
    src: url('../fonts/kayak/KayakSans-Bold.woff') format('woff'),
         url('../fonts/kayak/KayakSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kayak';
    src: url('../fonts/kayak/KayakSans-BoldItalic.woff') format('woff'),
         url('../fonts/kayak/KayakSans-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

/* -----------------------------------------

#links

-----------------------------------------*/
a, a:active, a:focus, a:hover, a:visited {text-decoration: none;}

/* -----------------------------------------

#buttons

-----------------------------------------*/
.btn {padding: 6px 40px; border-radius: 1px!important; background: none; color: #25a49d!important; border: 1px solid #25a49d; font-size: 20px; font-weight: bold; font-style: italic; text-transform: uppercase; transition: .3s!important;}
.btn:hover {background: #25a49d; color: #fff!important;}

/* -----------------------------------------

#main

-----------------------------------------*/
.navbar-brand {width: 100%; max-width: 200px;}
#logo {width: 100%; max-width: 200px; transition: .3s linear!important;}
#nav .navbar-nav li a {color: #8f8b8b; transition: color .3s; font-weight: 400; font-size: 20px; text-transform: uppercase;}
#nav .navbar-nav li a:hover {color: #333;}
header {background: url('../images/header-background.jpg') no-repeat center; background-size: cover; height: 750px; position: relative;}
.nav-wrap {background: #fff;}
.header-text {padding: 150px 0;}
h1 {max-width: 800px; font-size: 85px; color: #fff; font-weight: bold; font-style: italic;}
.header-text p {max-width: 600px; color: #fff; font-size: 36px; font-weight: bold; font-style: italic; line-height: 1.3;}
.header-btn {position: relative; color: #00463e; text-transform: uppercase; font-size: 21px; font-weight: bold; font-style: italic;}
.header-btn:before {transition: all .2s; content: ''; position: absolute; width: 131px; height: 10px; background: #c0e9e0; left: -8px; bottom: 0;}
.header-btn span {position: relative; z-index: 999;}
.header-btn img {position: relative; z-index: 999; margin-left: 15px;}
.header-btn:hover {color: #00463e;}
.header-btn:hover:before {transform: scale(1.5,4.5); bottom: 6px; left: 17px; border-radius: 1px;}

/* -----------------------------------------

#responsive

-----------------------------------------*/
@media screen and (min-width: 1200px) {
  .container {max-width: 1400px;}
}

@media screen and (max-width: 1199px) {
    header {height: 550px;}
}

@media screen and (min-width: 992px) {
    #nav {padding: 9px 0px 9px;}
    .navbar-expand-lg .navbar-nav .nav-link {padding-left: .8rem; padding-right: .8rem;}
    .navbar-nav .btn {margin-left: .8rem; margin-right: .8rem;}
}

@media screen and (max-width: 991px) {
    
}

@media screen and (max-width: 767px) {
   
}