/*-----------------------------------------------------------------------------------

	Author: Kristin Vaughn
	Author URI: www.pivotcode.io
	Date: June 15, 2019

-----------------------------------------------------------------------------------*/

/* -----------------------------------------

#general

-----------------------------------------*/
:root {
    --orange: #ff8465;
    --dark-blue: #4965a1;
    --light-blue: #a8eaf3;
    --pale-blue: #c9e0ec;
    --teal: #34d2b9;
    --peach: #ffd5ca;
    --dark-grey: #5f6366;
    --light-grey: #8e8d89;
    --pale-grey: #e4e3de;
}

body {color: var(--dark-grey); font-family: 'Work Sans', sans-serif;}

/* -----------------------------------------

#typography

-----------------------------------------*/
@font-face {
    font-family: 'Righteous';
    src: url('../fonts/righteous/Righteous-Regular.woff2') format('woff2'),
        url('../fonts/righteous/Righteous-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/work-sans/WorkSans-ExtraLight.woff2') format('woff2'),
        url('../fonts/work-sans/WorkSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/work-sans/WorkSans-SemiBold.woff2') format('woff2'),
        url('../fonts/work-sans/WorkSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/work-sans/WorkSans-Thin.woff2') format('woff2'),
        url('../fonts/work-sans/WorkSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/work-sans/WorkSans-Medium.woff2') format('woff2'),
        url('../fonts/work-sans/WorkSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/work-sans/WorkSans-Bold.woff2') format('woff2'),
        url('../fonts/work-sans/WorkSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/work-sans/WorkSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/work-sans/WorkSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/work-sans/WorkSans-Regular.woff2') format('woff2'),
        url('../fonts/work-sans/WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/work-sans/WorkSans-Light.woff2') format('woff2'),
        url('../fonts/work-sans/WorkSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/work-sans/WorkSans-Black.woff2') format('woff2'),
        url('../fonts/work-sans/WorkSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

/* -----------------------------------------

#buttons

-----------------------------------------*/
.btn {background: var(--orange); transition: all .2s; color: #fff!important;}
.btn:hover {box-shadow: 0px 8px 8px var(--peach);}

/* -----------------------------------------

#main

-----------------------------------------*/
body, html {height: 100%;}
#nav {background: #fff; border-top: 3px solid var(--orange);}
.navbar-brand {width: 50%; max-width: 200px; padding-top: 15px;}
#logo {width: 100%;}
#nav .navbar-nav li a {transition: color .2s; color: var(--dark-blue); font-weight: bold; font-size: 16px;}
#nav .navbar-nav li a:hover {color: var(--orange);}
header {background: var(--dark-blue); height: 100%;}
.nav-wrap {position: relative;}
header .curve {z-index: 999; position: absolute; left: 0; top: 93px; width: 100%; height: 40px;}

/* -----------------------------------------

#responsive

-----------------------------------------*/
@media screen and (min-width: 992px) {
    #nav {padding: 20px 55px 10px;}
    .navbar-expand-lg .navbar-nav .nav-link {padding-left: .8rem; padding-right: .8rem;}
    .navbar-nav .btn {margin-left: .8rem; margin-right: .8rem;}
}

@media screen and (max-width: 991px) {
    header .curve {top: 80px;}
}